body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        display: block;
    }
    table thead, table tbody, table th, table td, table tr {
        display: block;
    }
    table tbody tr {
        padding: 8px;
        margin-bottom: 10px;
    }
    table tbody tr:nth-child(even) {
        background-color: transparent;
    }
    table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
#product-table td img {
    width: 150px; 
    height: 150px; 
    display: block;
    margin: 0 auto; 
}